<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="flex: 1;">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" style="font-size: 30px;" th:text="${notice.title}"></h2>
<!--    <div style="display: block;">-->
<!--        <div style="font-size: 20px;">-->
<!--            작성자: <span th:if="${notice.user != null}" th:text="${notice.user.nickname}"></span>-->
<!--        </div>-->
<!--    </div>-->
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(notice.content)}"></div>
            <div>
                <img th:src="@{|/file/${notice.thumbnailImg}|}" alt="images">
            </div>
            <div class="my-3">
                <div class="my-3">
                    <div class="badge badge-outline">
                        <div th:text="${#temporals.format(notice.createDate, '작성일 : yyyy년 MM월 dd일 HH시 mm분 ss초')}"></div>
                    </div>
                    <br>
                    <div th:if="${notice.modifiedDate != null}" class="badge badge-outline">
                        <div th:text="${#temporals.format(notice.modifiedDate, '수정일 : yyyy년 MM월 dd일 HH시 mm분 ss초')}"></div>
                    </div>
                </div>
                <a th:href="@{|/notice/modify/${notice.id}|}" class="btn bg-orange-300 hover:bg-orange-300"
                   sec:authorize="isAuthenticated()"
                   th:if="${notice.user != null and #authentication.getPrincipal().getUsername() == notice.user.userId}"
                   th:text="수정"></a>
                <a onclick="return confirm('정말 삭제하시겠습니까?')" th:href="@{|/notice/delete/${notice.id}|}"
                   class="btn bg-orange-300 hover:bg-orange-300" sec:authorize="isAuthenticated()"
                   th:if="${notice.user != null and #authentication.getPrincipal().getUsername() == notice.user.userId}"
                   th:text="삭제"></a>
                <!-- 관리자 전용 삭제 버튼 -->
                <a onclick="return confirm('정말 삭제하시겠습니까?')" th:href="@{|/notice/delete/${notice.id}|}"
                   class="delete btn btn-error" th:if="${loginUser.isCheckedAdmin()}"
                   th:text="'관리자 삭제'"></a>
            </div>
        </div>
    </div>
    <a th:href="@{/notice/list}" class="btn bg-orange-300 hover:bg-orange-300">목록보기</a>
</div>
</html>