<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${notice.title}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(notice.content)}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${notice.modifiedDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정됨</div>
                    <div th:text="${#temporals.format(notice.modifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${notice.user != null}" th:text="${notice.user.nickname}"></span>
                    </div>
                    <div th:text="${#temporals.format(notice.createDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/notice/modify/${notice.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${notice.user != null and #authentication.getPrincipal().getUserId() == notice.siteUser.UserId}"
                   th:text="수정"></a>
                <a onclick="return confirm('정말 삭제하시겠습니까?')" th:href="@{|/notice/delete/${notice.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${notice.user != null and #authentication.getPrincipal().getUserId() == notice.user.UserId}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <a th:href="@{/notice/list}" class="btn btn-primary">목록보기</a>
</div>
</html>