<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="flex: 1;">
    <div class="row my-3">
        <div class="col-6">
            <a th:if="${loginUser != null and loginUser.isCheckedAdmin()}"
               th:href="@{/notice/create}" class="btn btn-secondary bg-orange-300 hover:bg-orange-500">공지 등록하기</a>
        </div>
        <div class="col-6">
            <form>
                <div class="input-group">
                    <input type="text" name="kw" id="search_kw" class="form-control input input-bordered input-accent" th:value="${param.kw}">
                    <button class="btn btn-secondary bg-orange-300 hover:bg-orange-500" id="btn_search">찾기</button>
                </div>
            </form>
        </div>
    </div>
    <table class="table overflow-x-auto">
        <thead class="table-zebra">
        <tr class="text-center">
            <th style="width:10%">번호</th>
            <th style="width:40%">제목</th>
            <th style="width:20%">글쓴이</th>
            <th style="width:30%">작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="notice, loop : ${paging}">
            <td th:text="${paging.getTotalElements() - (paging.number * paging.size) - loop.index}"></td>
            <td class="text-center">
                <a th:href="@{|/notice/detail/${notice.id}|}" th:text="${notice.title}" style="text-decoration: none;"></a>
            </td>
            <td><span th:if="${notice.user != null}" th:text="${notice.user.nickname}"></span></td>
            <td th:text="${#temporals.format(notice.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <nav aria-label="Page navigation" style="justify-content: center;">
        <ul class="flex items-center h-10 text-m" style="justify-content: center; margin-top: 20px;">
            <!-- 이전 버튼 -->
            <li th:classappend="${!paging.hasPrevious or paging.number == 0} ? 'opacity-50 pointer-events-none'">
                <a th:href="@{/notice/list(kw=${param.kw},page=${paging.number - 1})}" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                    </svg>
                </a>
            </li>
            <!-- 페이지 번호 -->
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5 and page >= 0}"
                th:classappend="${page == paging.number} ? 'active' : ''"
                class="relative">
                <a th:if="${page != null}" th:text="${page + 1}" th:href="@{/notice/list(kw=${param.kw},page=${page})}" class="flex items-center justify-center px-3 h-8 leading-tight bg-orange-300 hover:bg-orange-500 border border-gray-300 hover:text-gray-700"></a>
            </li>
            <!-- 다음 버튼 -->
            <li th:classappend="${!paging.hasNext or paging.number == paging.totalPages-1} ? 'opacity-50 pointer-events-none'">
                <a th:href="@{/notice/list(kw=${param.kw},page=${paging.number + 1})}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
    <!-- 페이징처리 끝 -->
    <form th:action="@{/notice/list}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
</div>
</html>