<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container" style="flex: 1;">
    <h5 style="font-size: 30px;" class="my-3 border-bottom pb-2">답변 수정</h5>
    <form th:object="${articleReplyForm}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea
                    required
                    maxlength="2000"
                    placeholder="내용을 2,000자 이하로 입력하세요"
                    th:text="${articleReplyForm.content}"
                    name="content" id="content"
                    class="form-control"
                    rows="10">
            </textarea>
        </div>
        <input type="submit" value="저장하기" class="btn bg-orange-300 hover:bg-orange-500">
    </form>
</div>
</html>