<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="flex: 1;">
    <div class="row my-3">
        <h2 class="col-6 admin-page bold" style="font-size: 30px">관리자페이지</h2>
        <div class="col-6">
            <form>
                <div class="input-group admin-user">
                    <input type="text" name="kw" id="search_kw" class="form-control" th:value="${param.kw}">
                    <button class="btn btn-secondary bg-orange-300 hover:bg-orange-500" id="btn_search">찾기</button>
                </div>
            </form>
        </div>
    </div>
    <table class="table overflow-x-auto">
        <thead class="table-zebra">
        <tr class="text-center">
            <th>번호</th>
            <th>아이디</th>
            <th>닉네임</th>
            <th>가입일자</th>
            <th>수정일자</th>
            <th>탈퇴</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="siteUser, loop : ${paging}">
            <td class="text-center" th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}" style="width: 10%;"></td>
            <td class="text-center" th:text="${siteUser.userId}" style="width: 15%;"></td>
            <td class="text-center" th:text="${siteUser.nickname}" style="width: 15%;"></td>
            <td class="text-center" style="width: 20%;">
                <div th:text="${#temporals.format(siteUser.createDate, 'yyyy-MM-dd')}"></div>
                <div th:text="${#temporals.format(siteUser.createDate, 'HH:mm')}"></div>
            </td>
            <td class="text-center" style="width: 20%;">
                <div th:text="${#temporals.format(siteUser.modifiedDate, 'yyyy-MM-dd')}"></div>
                <div th:text="${#temporals.format(siteUser.modifiedDate, 'HH:mm')}"></div>
            </td>
            <td>
                <span th:if="${siteUser.checkedWithdrawal}">탈퇴한 사용자</span>
                <form th:unless="${siteUser.checkedWithdrawal}" th:action="@{/admin/user/delete/{userId}(userId=${siteUser.userId})}" method="post"
                      onsubmit="return confirm('정말 탈퇴시키겠습니까?');">
                    <input type="hidden" name="userId" th:value="${siteUser.userId}"/>
                    <button type="submit" class="btn btn-secondary bg-orange-300 hover:bg-orange-500" sec:authorize="isAuthenticated()">탈퇴</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <nav aria-label="Page navigation" style="justify-content: center;">
        <ul class="flex items-center h-10 text-m" style="justify-content: center; margin-top: 20px;">
            <li th:classappend="${!paging.hasPrevious or paging.number == 0} ? 'opacity-50 pointer-events-none'">
                <a th:href="@{/admin/user/list(kw=${param.kw},page=${paging.number - 1})}" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-r-0 rounded-l-lg rounded-r-none hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                    </svg>
                </a>
            </li>
            <!-- 페이지 번호 -->
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5 and page >= 0}"
                th:classappend="${page == paging.number} ? 'active' : ''"
                class="relative">
                <a th:if="${page != null}" th:text="${page + 1}" th:href="@{/admin/user/list(kw=${param.kw},page=${page})}" class="flex items-center justify-center px-3 h-8 leading-tight bg-orange-300 hover:bg-orange-500 border border-gray-300 hover:text-gray-700"></a>
            </li>

            <!-- 다음 버튼 -->
            <li th:classappend="${!paging.hasNext or paging.number == paging.totalPages-1} ? 'opacity-50 pointer-events-none'">
                <a th:href="@{/admin/user/list(kw=${param.kw},page=${paging.number + 1})}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-l-0 border-r-0 rounded-r-lg rounded-l-none hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
    <!-- 페이징처리 끝 -->
    <form th:action="@{/admin/user/list}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
</div>
</html>