<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container card my-3 shrink-0 w-full max-w-sm shadow-2xl bg-base-100" style="flex: 1;">
    <div class="my-3">
        <div>
            <h2 style="font-size: 30px;" class="my-3 border-bottom pb-2">패스워드 변경</h2>
        </div>
    </div>
    <form th:object="${userPasswordForm}" method="post" th:action="@{/user/changePw}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="password" class="form-label">기존 패스워드</label>
            <input type="password" id="password" name="myPassword" th:field="*{currentPassword}" class="form-control input input-bordered input-accent">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">변경할 패스워드</label>
            <input type="password" id="password1" name="changePassword1" th:field="*{newPassword}" class="form-control input input-bordered input-accent">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">패스워드 확인</label>
            <input type="password" id="password2" name="changePassword2" th:field="*{confirmPassword}" class="form-control input input-bordered input-accent">
        </div>
        <button type="submit" class="btn bg-orange-300 hover:bg-orange-500">수정하기</button>
    </form>
</div>
</html>