<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container card my-3 shrink-0 w-full max-w-sm shadow-2xl bg-base-100" style="flex: 1;">
    <div class="my-3">
        <h2 style="font-size: 30px;" class="my-3 border-bottom pb-2">회원정보 수정</h2>
    </div>
    <form th:object="${userMypageForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div th:unless="${#strings.containsIgnoreCase(#authentication.name, 'KAKAO')}" class="mb-3">
            <label for="userId" class="form-label">사용자ID</label>
            <input type="text" id="userId" name="userId" th:value="${userCreateForm.userId}" class="form-control input input-bordered input-accent" disabled>
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">닉네임</label>
            <input type="text" id="nickname" name="nickname" th:value="${userMypageForm.nickname}" class="form-control input input-bordered input-accent">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">전화번호</label>
            <input type="text" id="phone" name="phone" th:value="${userMypageForm.phone}" class="form-control input input-bordered input-accent">
        </div>
        <button type="submit" class="btn bg-orange-300 hover:bg-orange-500" th:herf="@{/user/showmypage}">수정하기</button>
    </form>
</div>
</html>