<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h1>마이페이지</h1>
        </div>
    </div>
    <form th:object="${userMypageForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" id="username" name="username" th:value="${userCreateForm.userId}" class="form-control" disabled>
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">닉네임</label>
            <input type="text" id="nickname" name="nickname" th:value="${userMypageForm.nickname}" class="form-control" disabled>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">전화번호</label>
            <input type="text" id="phone" name="phone" th:value="${userMypageForm.phone}" class="form-control" disabled>
        </div>
        <div class="col-6">
            <a th:href="@{/user/mypage}" class="btn btn-primary">정보 수정하기</a>
            <a th:href="@{/user/#}" class="btn btn-primary">비밀번호 변경</a>
        </div>
    </form>
</div>
</html>