<footer style="padding: 20px;" th:fragment="footerFragment" class="footer footer-center p-10 bg-base-200 text-base-content rounded">
    <nav class="navbar navbar-expand-lg" style="justify-content: center;">
        <div class="grid grid-flow-col gap-4 flex-none" style="display: inline;">
            <ul class="menu menu-horizontal navbar-collapse " style="justify-content: center; margin-bottom: 20px;">
                <li class="menu-item"><a href="#"><i class="fa-brands fa-x-twitter" style="color: #14171a;"></i></a></li>
                <li class="menu-item"><a href="#"><i class="fa-brands fa-youtube" style="color: #ff0000;"></i></a></li>
                <li class="menu-item"><a href="#"><i class="fa-brands fa-facebook-f" style="color: #004267;"></i></a></li>
            </ul>
            <br>
            <ul class="menu-horizontal navbar-collapse">
                <li>
                    <aside>
                        <p style="margin-bottom: 20px;">입금계좌: 토스뱅크 123456-00-987654 송병근<br>지불사항 미확인시 예약이 취소될 수 있습니다.</p>
                    </aside>
                </li>
            </ul>
        </div>
    </nav>
</footer>

<style>
    .menu-item:active {
        background-color: inherit;
    }
</style>