<footer style="padding: 20px;" th:fragment="footerFragment" class="footer footer-center p-10 bg-base-200 text-base-content rounded custom">
    <nav class="navbar navbar-expand-lg" style="justify-content: center;">
        <div class="grid grid-flow-col gap-4 flex-none" style="font-size: 20px; display: inline;">
            <ul class="menu menu-horizontal collapse navbar-collapse" style="justify-content: center; margin-bottom: 20px;">
                <li class="menu-item"><a href="#"><i class="fa-brands fa-x-twitter" style="color: #14171a;"></i></a></li>
                <li class="menu-item"><a href="#"><i class="fa-brands fa-youtube" style="color: #ff0000;"></i></a></li>
                <li class="menu-item"><a href="#"><i class="fa-brands fa-facebook-f" style="color: #004267;"></i></a></li>
            </ul>
            <ul class="menu-horizontal navbar-collapse">
                <li>
                    <aside>
                        <p style="margin-bottom: 20px;">무통장입금계좌: 국민 XXXXXX-XX-XXXXXX 홍길동</p>
                    </aside>
                </li>
            </ul>
        </div>
    </nav>
<!--    <nav class="navbar navbar-expand-lg" style="justify-content: center;">-->

<!--    </nav>-->
</footer>