<html layout:decorate="~{layout}">
<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="navbar bg-base-100" style="justify-content: center;">
        <div style="justify-content: center;">
            <a th:href="@{/}" class="btn btn-ghost text-xl logo">MyHouse<i class="fa-solid fa-people-roof"></i></a>
        </div>
        <div style="width: 100%;"></div>
        <div style="justify-content: center;">
            <ul class="menu menu-horizontal navbar-collapse" style="justify-content: center;">
                <li sec:authorize="isAuthenticated()" class="menu-item "><a th:href="@{/user/logout}">로그아웃</a></li>
                <li sec:authorize="isAuthenticated()" class="menu-item"><a th:href="@{/notice/list}">공지사항</a></li>
                <li sec:authorize="isAuthenticated()" class="menu-item"><a th:href="@{/article/list}">자유게시판</a></li>
                <li sec:authorize="isAuthenticated()" class="menu-item"><a th:href="@{/calendar/list}">숙소예약</a></li>
                <li sec:authorize="isAuthenticated()" class="menu-item"><a th:href="@{/user/showmypage}">마이페이지</a></li>
                <li sec:authorize="isAuthenticated()" class="menu-item" th:if="${loginUser != null and loginUser.isCheckedAdmin()}">
                    <a th:href="@{/admin/user/list}">관리자페이지</a>
                </li>
                <li sec:authorize="isAnonymous()" class="menu-item"><a th:href="@{/user/login}">로그인</a></li>
                <li sec:authorize="isAnonymous()" class="menu-item"><a th:href="@{/user/signup}">회원가입</a></li>
            </ul>
        </div>
    </div>
</nav>
</html>