<nav th:fragment="navbarFragment">
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl">MyHouse</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal space-x-4">
                <li><a class="menu-item" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a></li>
                <li><a class="menu-item" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a></li>
                <li><a class="menu-item" sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a></li>
            </ul>
            <ul class="menu menu-horizontal space-x-4">
                <li><a class="menu-item" sec:authorize="isAuthenticated()" th:href="@{/notice/list}">공지사항</a></li>
                <li><a class="menu-item" sec:authorize="isAuthenticated()" th:href="@{/article/list}">자유게시판</a></li>
                <li><a class="menu-item" sec:authorize="isAuthenticated()" th:href="@{/calendar/list}">숙소예약</a></li>
                <li><a class="menu-item" sec:authorize="isAuthenticated()" th:href="@{/user/showmypage}">마이페이지</a></li>
                <li sec:authorize="isAuthenticated()" th:if="${loginUser != null and loginUser.isCheckedAdmin()}">
                    <a class="menu-item" th:href="@{/admin/user/list}">관리자페이지</a>
                </li>
            </ul>
        </div>
    </div>
</nav>